@import "tailwindcss";
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0C0F16;


}

.toast-yellow {
  background: #d6c330 !important;
  color: rgb(49, 48, 48) !important;
  font-weight: 300;
  border-radius: 8px !important;
}

/* Toast inner text */
.toast-body-yellow {
  color: rgb(49, 48, 48) !important;
}

/* custom-slick-dots.css */
.slick-dots li button:before {
  color: #cdccc9 !important; /* Your desired color (yellow) */
  opacity: 0.5; /* Inactive dot */
}

.slick-dots li.slick-active button:before {
  opacity: 1; /* Active dot */
  color: #ffffff !important; /* Active dot color */
}
